workflows/Add Github Issues to Posty.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vars": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Recorded Issues": {
      "main": [
        [
          {
            "node": "Update Posty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Issues": {
      "main": [
        [
          {
            "node": "Insert into Posty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Posty": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Posty": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Simplify Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Issues": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Only Recorded Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Fields2": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Existing Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Only Recorded Issues",
            "type": "main",
            "index": 1
          },
          {
            "node": "New Issues",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo Names": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Repo Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-29T16:14:37.860Z",
  "dataLoaded": false,
  "id": 13,
  "name": "Add Github Issues to Posty",
  "nodes": [
    {
      "parameters": {},
      "id": "c06e596e-4440-4a90-afc3-9af8bd3e5bdc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        1460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit?pli=1#gid=717136453",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 717136453,
          "mode": "list",
          "cachedResultName": "CheckedRepos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=717136453"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "SERIAL_NUMBER"
            }
          }
        }
      },
      "id": "1dd62326-40eb-4462-95c2-077e38f900f6",
      "name": "Get Vars",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -820,
        1440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": "={{ $json[\"repo_owner\"] }}",
        "repository": "={{ $json[\"repo_name\"] }}",
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "all"
        }
      },
      "id": "dfa266aa-09ae-4ffa-acce-9531016cf10d",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -80,
        1220
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b2771efe-08c5-4ad9-8d32-b25bca6701a4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        180,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "github",
        "table": "issues",
        "updateKey": "node_id",
        "columns": "github_id,issue_number,title,state,locked,assignee,assignees,comments,gh_created_at:timestamptz,gh_updated_at,gh_closed_at,author_association,body,reactions,performed_via_github_app,state_reason,github_user,labels,repo_owner,repo_name,node_id",
        "returnFields": "id",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "fc654879-23f6-4801-9d37-5332c269ce02",
      "name": "Update Posty",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2660,
        1160
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "node_id",
              "field2": "node_id"
            }
          ]
        },
        "options": {}
      },
      "id": "f576f534-e1b8-4aaf-a886-b0e7f2714b5b",
      "name": "Only Recorded Issues",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2240,
        1220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "node_id",
              "field2": "node_id"
            }
          ]
        },
        "options": {}
      },
      "id": "58dd36a9-530a-4235-86ac-5e76f818afaf",
      "name": "New Issues",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2260,
        960
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "schema": "github",
        "table": "issues",
        "columns": "github_id,issue_number,title,state,locked,assignee,assignees,comments,gh_created_at,gh_updated_at,gh_closed_at,author_association,body,reactions,performed_via_github_app,state_reason,github_user,labels,repo_owner,repo_name,node_id",
        "returnFields": "id",
        "additionalFields": {
          "mode": "multiple"
        }
      },
      "id": "901a945d-b7d4-4c76-873e-33221aaaf185",
      "name": "Insert into Posty",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2680,
        940
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {},
      "id": "71e77b76-f326-429a-8053-44dac865df7f",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3140,
        1260
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "node_id"
            }
          ]
        },
        "options": {}
      },
      "id": "d5489766-a664-4f72-abd8-f4654d586622",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        380,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select node_id as \"existing_issue_node_id\" from github.issues where node_id = $1 limit 1;",
        "additionalFields": {
          "mode": "multiple",
          "queryParams": "node_id"
        }
      },
      "id": "ca7b356e-b84a-4a4e-a042-cf85f7bcf35c",
      "name": "Existing Issues",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1400,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "node_id",
              "value": "={{ $json[\"node_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ce09277-a8fd-4047-a3a4-c667df4c764d",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        1060
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "existing_issue_node_id",
              "field2": "node_id"
            }
          ]
        },
        "options": {}
      },
      "id": "403339f1-86f8-4096-ab5b-1651ed4bc31d",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        1780,
        940
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "node_id",
              "value": "={{ $json[\"node_id\"] }}"
            },
            {
              "name": "github_user",
              "value": "={{ $json[\"user\"][\"login\"] }}"
            },
            {
              "name": "state",
              "value": "={{ $json[\"state\"] }}"
            },
            {
              "name": "assignee",
              "value": "={{ $json[\"assignee\"][\"login\"] }}"
            },
            {
              "name": "milestone",
              "value": "={{ $json[\"milestone\"] }}"
            },
            {
              "name": "comments",
              "value": "={{ $json[\"comments\"] }}"
            },
            {
              "name": "gh_created_at",
              "value": "={{ $json[\"created_at\"] }}"
            },
            {
              "name": "gh_updated_at",
              "value": "={{ $json[\"updated_at\"] }}"
            },
            {
              "name": "gh_closed_at",
              "value": "={{ $json[\"closed_at\"] }}"
            },
            {
              "name": "author_association",
              "value": "={{ $json[\"author_association\"] }}"
            },
            {
              "name": "body",
              "value": "={{ $json[\"body\"] }}"
            },
            {
              "name": "performed_via_github_app",
              "value": "={{ $json[\"performed_via_github_app\"] }}"
            },
            {
              "name": "state_reason",
              "value": "={{ $json[\"state_reason\"] }}"
            },
            {
              "name": "repo_owner",
              "value": "={{ $json[\"repo_owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $json[\"repo_name\"] }}"
            },
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "reactions",
              "value": "={{ $json[\"reactions\"] }}"
            },
            {
              "name": "assignees",
              "value": "={{ $json[\"assignees\"] }}"
            },
            {
              "name": "labels",
              "value": "={{ $json[\"labels\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "locked",
              "value": "={{ $json[\"locked\"] }}"
            }
          ],
          "number": [
            {
              "name": "issue_number",
              "value": "={{ $json[\"number\"] }}"
            },
            {
              "name": "github_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b810ea8e-6c5b-4c47-8100-5f77cb937696",
      "name": "Simplify Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        920,
        1260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "86feae9d-0693-4ead-a44e-9c5d7d5fba0c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1140,
        1660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "repo_owner",
              "value": "={{ $json[\"Owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $json[\"Repo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c030a03-cacc-464c-81cb-cb6cf75dfab0",
      "name": "Repo Names",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -340,
        1440
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0a088668-b6ec-4dbd-91fe-e70be517528e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -600,
        1440
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "id": "bb62674b-e861-4de3-825b-20560bd52115",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3360,
        1260
      ],
      "webhookId": "afd2f6d1-47b3-485d-a5c6-9fc7fa991530"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2022-12-30T09:41:45.000Z",
  "versionId": "36101fc0-2317-4e7f-be57-68d84e16a4d5"
}