workflows/Get Repo Info.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vars": {
      "main": [
        [
          {
            "node": "Get Repo Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Labels": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Label IDs": {
      "main": [
        [
          {
            "node": "New Labels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-27T22:16:43.146Z",
  "dataLoaded": false,
  "id": 11,
  "name": "Get Repo Info",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "5169ede6-be67-440f-8623-c704daa2b4c3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        80,
        380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "repo",
              "value": "va.gov-cms"
            },
            {
              "name": "owner",
              "value": "department-of-veterans-affairs"
            },
            {
              "name": "url",
              "value": "https://api.github.com"
            }
          ]
        },
        "options": {}
      },
      "id": "a789e032-cf3d-42ff-8ffe-14047947fbf0",
      "name": "Set Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"url\"] }}/repos/{{ $json[\"owner\"] }}/{{ $json[\"repo\"] }}/labels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "41875178-e5fb-464f-8f9a-56ecabbaf670",
      "name": "Get Repo Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        560,
        380
      ]
    },
    {
      "parameters": {
        "schema": "github",
        "table": "labels",
        "columns": "id,node_id,url,name,color,default,description",
        "returnFields": "id",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "e1d91ced-1f3d-4fe0-9a5b-9bb28b623c13",
      "name": "Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1380,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id from github.labels;",
        "additionalFields": {
          "mode": "multiple"
        }
      },
      "id": "e279ca8b-2fb4-44bb-94a0-7107b4c62b18",
      "name": "Get Label IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "node_id",
              "field2": "node_id"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {}
      },
      "id": "449b0dc8-6535-434a-8d73-14ad2f0844ac",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "github",
        "table": "labels",
        "columns": "id,node_id,url,name,color,default,description",
        "returnFields": "id",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "a70e1900-0dc1-4342-8969-1106d098b038",
      "name": "Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1440,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "5c92dbec-f12d-4942-a205-9ab0a7a075a5",
      "name": "New Labels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1360,
        640
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "4fdb375d-2673-4e89-912c-e96c901d136e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        780,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-12-22T18:31:19.661Z",
      "updatedAt": "2022-12-22T18:31:19.661Z",
      "id": "1",
      "name": "In Progress"
    },
    {
      "createdAt": "2022-12-27T22:16:58.437Z",
      "updatedAt": "2022-12-27T22:16:58.437Z",
      "id": "3",
      "name": "Github"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2022-12-28T00:31:28.000Z",
  "versionId": "b2728830-feb2-4ab3-b986-caa0b76a67bd"
}