workflows/Github Issues.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vars": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Simplify Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simplify Fields": {
      "main": [
        [
          {
            "node": "Recorded Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for updated issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for new issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorded Issues": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets1": {
      "main": [
        [
          {
            "node": "Wait for new issues",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get New Issue Info",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait for updated issues",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Existing Issue Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Existing Issue Info": {
      "main": [
        [
          {
            "node": "Update Posty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Issue Info": {
      "main": [
        [
          {
            "node": "Insert into Posty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for updated issues": {
      "main": [
        [
          {
            "node": "Get Existing Issue Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for new issues": {
      "main": [
        [
          {
            "node": "Get New Issue Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-29T16:14:37.860Z",
  "dataLoaded": false,
  "id": 13,
  "name": "Github Issues",
  "nodes": [
    {
      "parameters": {},
      "id": "c06e596e-4440-4a90-afc3-9af8bd3e5bdc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        660
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gtemRw0qMsQ64e6G1En9a_iYiv0nSn1sGYtWrS1c5Yc/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Logic/Vars",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gtemRw0qMsQ64e6G1En9a_iYiv0nSn1sGYtWrS1c5Yc/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "SERIAL_NUMBER"
            }
          }
        }
      },
      "id": "1dd62326-40eb-4462-95c2-077e38f900f6",
      "name": "Get Vars",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        100,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": "={{ $json[\"repo_owner\"] }}",
        "repository": "={{ $json[\"repo_name\"] }}",
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "all"
        }
      },
      "id": "dfa266aa-09ae-4ffa-acce-9531016cf10d",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        580,
        480
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "schema": "github",
        "table": "issues",
        "columns": "github_id,issue_number,title,state,locked,assignee,assignees,comments,gh_created_at,gh_updated_at,gh_closed_at,author_association,body,reactions,performed_via_github_app,state_reason,user,labels,repo_owner,repo_name,node_id",
        "returnFields": "github_id,issue_number,repo_name,repo_owner,updated_at",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "2ae32d5e-de62-4c05-90f8-ebba6ddb88fb",
      "name": "Insert into Posty",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2880,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b2771efe-08c5-4ad9-8d32-b25bca6701a4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        800,
        640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "repo_owner",
              "value": "={{ $json[\"Owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $json[\"Repo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c030a03-cacc-464c-81cb-cb6cf75dfab0",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        360,
        660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "github",
        "table": "issues",
        "updateKey": "github_id",
        "columns": "issue_number,title,state,locked,assignee,assignees,comments,gh_created_at,gh_updated_at,gh_closed_at,author_association,body,reactions,performed_via_github_app,state_reason,user,labels,repo_owner,repo_name,node_id",
        "returnFields": "github_id,issue_number,repo_name,repo_owner,updated_at",
        "additionalFields": {
          "mode": "multiple"
        }
      },
      "id": "fc654879-23f6-4801-9d37-5332c269ce02",
      "name": "Update Posty",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3000,
        860
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "node_id",
              "value": "={{ $json[\"node_id\"] }}"
            },
            {
              "name": "github_user",
              "value": "={{ $json[\"user\"][\"login\"] }}"
            },
            {
              "name": "labels",
              "value": "={{ $json[\"labels\"] }}"
            },
            {
              "name": "state",
              "value": "={{ $json[\"state\"] }}"
            },
            {
              "name": "assignee",
              "value": "={{ $json[\"assignee\"] }}"
            },
            {
              "name": "assignees",
              "value": "={{ $json[\"assignees\"] }}"
            },
            {
              "name": "milestone",
              "value": "={{ $json[\"milestone\"] }}"
            },
            {
              "name": "comments",
              "value": "={{ $json[\"comments\"] }}"
            },
            {
              "name": "gh_created_at",
              "value": "={{ $json[\"created_at\"] }}"
            },
            {
              "name": "gh_updated_at",
              "value": "={{ $json[\"updated_at\"] }}"
            },
            {
              "name": "gh_closed_at",
              "value": "={{ $json[\"closed_at\"] }}"
            },
            {
              "name": "author_association",
              "value": "={{ $json[\"author_association\"] }}"
            },
            {
              "name": "body",
              "value": "={{ $json[\"body\"] }}"
            },
            {
              "name": "reactions",
              "value": "={{ $json[\"reactions\"] }}"
            },
            {
              "name": "performed_via_github_app",
              "value": "={{ $json[\"performed_via_github_app\"] }}"
            },
            {
              "name": "state_reason",
              "value": "={{ $json[\"state_reason\"] }}"
            },
            {
              "name": "repo_owner",
              "value": "={{ $json[\"repo_owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $json[\"repo_name\"] }}"
            },
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "github_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "locked",
              "value": "={{ $json[\"locked\"] }}"
            }
          ],
          "number": [
            {
              "name": "issue_number",
              "value": "={{ $json[\"number\"] }}"
            },
            {
              "name": "github_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82666157-8a37-48d9-b8ce-cfb463a1d836",
      "name": "Simplify Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1020,
        660
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select github_id, node_id from github.issues where github_id = $1;",
        "additionalFields": {
          "mode": "multiple",
          "queryParams": "github_id"
        }
      },
      "id": "a50c345b-c206-40d8-8e7c-36c19f866cb6",
      "name": "Recorded Issues",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1340,
        920
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "node_id",
              "field2": "node_id"
            }
          ]
        },
        "resolve": "includeBoth",
        "options": {}
      },
      "id": "92982750-2b71-48ab-99d5-6a4d385d3a57",
      "name": "Compare Datasets1",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        1860,
        820
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "node_id",
              "value": "={{ $json[\"node_id\"] }}"
            },
            {
              "name": "github_id",
              "value": "={{ $json[\"github_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "028422db-12a0-4d1f-a985-6a0167df394f",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1340,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Output\n**In A Only:** New Issues\n**Same Branch:** Existing Issues"
      },
      "id": "560c059d-3d8a-415c-b49b-1a04d6a80244",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        920
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "github_id",
              "field2": "github_id"
            }
          ]
        },
        "options": {}
      },
      "id": "c2649542-32f7-4268-a5d7-23690be90dac",
      "name": "Get New Issue Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2540,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "github_id",
              "field2": "github_id"
            }
          ]
        },
        "options": {}
      },
      "id": "4611fd8f-7c62-49f9-81c9-8b0573a90a76",
      "name": "Get Existing Issue Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2620,
        860
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "db64b10f-90ed-49d6-8d94-b111dd78a79b",
      "name": "Wait for updated issues",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2340,
        740
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "6ca9e356-9bf0-4d05-8777-9f343856f28f",
      "name": "Wait for new issues",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2200,
        520
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-12-29T22:58:47.000Z",
  "versionId": "3f4ce99c-81d4-45ce-8080-50a397ac9c23"
}