workflows/Github Issues.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vars": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-29T16:14:37.860Z",
  "dataLoaded": false,
  "id": 13,
  "name": "Github Issues",
  "nodes": [
    {
      "parameters": {},
      "id": "c06e596e-4440-4a90-afc3-9af8bd3e5bdc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gtemRw0qMsQ64e6G1En9a_iYiv0nSn1sGYtWrS1c5Yc/edit#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Logic/Vars",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gtemRw0qMsQ64e6G1En9a_iYiv0nSn1sGYtWrS1c5Yc/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "SERIAL_NUMBER"
            }
          }
        }
      },
      "id": "1dd62326-40eb-4462-95c2-077e38f900f6",
      "name": "Get Vars",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        300,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": "={{ $json[\"Owner\"] }}",
        "repository": "={{ $json[\"Repo\"] }}",
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "all"
        }
      },
      "id": "dfa266aa-09ae-4ffa-acce-9531016cf10d",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        640,
        340
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo_owner",
              "value": "={{ $node[\"Get Vars\"].json[\"Owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $node[\"Get Vars\"].json[\"Repo\"] }}"
            },
            {
              "name": "node_id",
              "value": "={{ $json[\"node_id\"] }}"
            },
            {
              "name": "gh_created_at",
              "value": "={{ $json[\"created_at\"] }}"
            },
            {
              "name": "gh_updated_at",
              "value": "={{ $json[\"updated_at\"] }}"
            },
            {
              "name": "gh_closed_at",
              "value": "={{ $json[\"closed_at\"] }}"
            }
          ],
          "number": [
            {
              "name": "gh_id",
              "value": "={{ $json[\"id\"] }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $json[\"number\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6f6191d-b35d-4a1d-95d1-0c03e60cdab8",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        340
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "2ae32d5e-de62-4c05-90f8-ebba6ddb88fb",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-12-29T16:58:35.000Z",
  "versionId": "b9519014-91eb-4340-9eb3-26d62b336fcd"
}