workflows/Github Labels.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-30T04:19:52.769Z",
  "dataLoaded": false,
  "id": 14,
  "name": "Github Labels",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "b51361e6-2e74-406b-b303-de8492aaabcf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select labels, id \nfrom github.issues\nwhere labels ilike '%:%'\nlimit 5;",
        "additionalFields": {}
      },
      "id": "e4a7581f-70da-4b48-b14f-70f63b0fdd65",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "4",
          "name": "PostyTheGres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "label_names",
              "value": "{{$json[\"TICKER\"].match(/(?<!\\w)\\w+$/).toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a483c76-cc68-4aae-9680-9adbefde68eb",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-12-30T04:36:40.000Z",
  "versionId": "87ec31a0-3cc8-4ca7-9579-a995d031b194"
}