workflows/Update Label List.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Repos to Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repos to Check": {
      "main": [
        [
          {
            "node": "Set Repo Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "How many items returned?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How many items returned?": {
      "main": [
        [
          {
            "node": "Need another page?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need another page?": {
      "main": [
        [
          {
            "node": "2 Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Repo Vars": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Pages": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How many items returned?1": {
      "main": [
        [
          {
            "node": "Need another page?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "How many items returned?1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need another page?1": {
      "main": [
        [
          {
            "node": "2 Pages1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Pages1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "How many items returned?2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How many items returned?2": {
      "main": [
        [
          {
            "node": "Need another page?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need another page?2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-30T07:33:10.244Z",
  "id": "15",
  "name": "Update Label List",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "61473392-6c67-4a47-bbce-3d349a4396ee",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        40,
        520
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit?pli=1#gid=717136453",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 717136453,
          "mode": "list",
          "cachedResultName": "CheckedRepos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=717136453"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "657f77ff-43af-4d2f-96bc-37a40643dcc7",
      "name": "Get Repos to Check",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        260,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json[\"repo_owner\"] }}/{{ $json[\"repo_name\"] }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "=1"
            }
          ]
        },
        "options": {}
      },
      "id": "a73e74e7-bed0-460f-aa13-01176b5d71c5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "7b70a08d-e0f2-41db-b2bf-f3da56e574f6",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        760,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit?pli=1#gid=0",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsIWTg4WyaGRNmh064sTnKvgp413p5VNXC5zM28qFJc/edit#gid=0"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "node_id",
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "4810d223-5a38-4860-bed3-701aac58db85",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3480,
        540
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Boaty N8N Reinhardt"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "0e4a245f-efee-4c0d-835e-544ab666031c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2500,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "\nif (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length\n    }\n  }\n];"
      },
      "id": "e69ac1e5-5065-419b-9803-8fb120656ddf",
      "name": "How many items returned?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"results\"] }}",
              "operation": "largerEqual",
              "value2": 100
            }
          ]
        }
      },
      "id": "0dc551ef-c510-47a5-9b11-ab64a9cc391c",
      "name": "Need another page?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "repo_owner",
              "value": "={{ $json[\"Owner\"] }}"
            },
            {
              "name": "repo_name",
              "value": "={{ $json[\"Repo\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc9d45e7-755c-4b67-8ee9-35b7996f25c3",
      "name": "Set Repo Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        520
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "page",
              "value": "=2"
            }
          ],
          "string": [
            {
              "name": "repo_name",
              "value": "={{ $node[\"Set Repo Vars\"].json[\"repo_name\"] }}"
            },
            {
              "name": "repo_owner",
              "value": "={{ $node[\"Set Repo Vars\"].json[\"repo_owner\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8598d608-dc49-4656-b7d2-255601453520",
      "name": "2 Pages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1720,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json[\"repo_owner\"] }}/{{ $json[\"repo_name\"] }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json[\"page\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48a1b03d-51a6-4cc0-8e1d-8a4fbe63d08b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1940,
        100
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nif (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length\n    }\n  }\n];"
      },
      "id": "4c72a187-0a67-450a-94c4-a6429b014a23",
      "name": "How many items returned?1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"results\"] }}",
              "operation": "largerEqual",
              "value2": 100
            }
          ]
        }
      },
      "id": "7f98b719-a995-4131-985c-68ace97e4495",
      "name": "Need another page?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2340,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "page",
              "value": "=3"
            }
          ],
          "string": [
            {
              "name": "repo_name",
              "value": "={{ $node[\"Set Repo Vars\"].json[\"repo_name\"] }}"
            },
            {
              "name": "repo_owner",
              "value": "={{ $node[\"Set Repo Vars\"].json[\"repo_owner\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d6a20ab-8d4c-4078-b727-b4fd8d7cba77",
      "name": "2 Pages1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2640,
        -100
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json[\"repo_owner\"] }}/{{ $json[\"repo_name\"] }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "={{ $json[\"page\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01bf8d9e-377c-4cab-959e-4ddcc128e5fe",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2860,
        -100
      ],
      "credentials": {
        "githubApi": {
          "id": "2",
          "name": "Boaty's GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nif (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length\n    }\n  }\n];"
      },
      "id": "baaa9b1c-ccf2-473b-a472-0095859f39da",
      "name": "How many items returned?2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3080,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"results\"] }}",
              "operation": "largerEqual",
              "value2": 100
            }
          ]
        }
      },
      "id": "379a1f01-9b7a-46c1-8931-30ff69f79557",
      "name": "Need another page?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3260,
        -100
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "202fbe0d-6ecb-4271-ba97-76e5bee57b0d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2700,
        440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "9913ff43-4103-4a51-85bd-754186d63980",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        3120,
        280
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        18
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-03-14T22:00:00.000Z",
  "versionId": "bd0d471f-6456-46c3-999b-36b20f103585"
}